.\ExpenseTracker\bin
ExpenseTracker/obj/
TrackerAPI/TrackerAPI/obj/
TrackerAPI/TrackerAPI/bin
MVC4/ExpenseTracker/obj/
MVC4/ExpenseTracker/bin/
MVC4\ExpenseTracker.Tests\bin
MVC4\ExpenseTracker.Tests\obj
/MVC4/packages
TrackerAPI/TrackerDB/bin/
TrackerAPI/TrackerDB/obj/