@model IEnumerable<ExpenseTracker.Models.BankAccount>

@foreach (var item in Model)
{
    <div class="account">
        <h4>@Html.DisplayFor(modelItem => item.FriendlyName)</h4>
        <span>@Html.DisplayFor(modelItem => item.AccountNumber) - @Html.DisplayFor(modelItem => item.AccountType)</span>
        <span>@Html.DisplayFor(modelItem => item.Description)</span>
        
    </div>
}